<!DOCTYPE html>
<html>
  <head>
    <title>SCIO Cloud</title>
    <% stylesheet('static/main.css') %>
    <%-scripts%>
    <%-stylesheets%>
  </head>
  <body>
    <header>
      <%-blocks.header%>
    </header>
    <div id="content">
      <%-body -%>
    </div>
    <footer>
      <%-blocks.footer%>
    </footer>
  </body>
</html>
